.first {
  font-size: 18px;
  border-width: 1px;
  border-color: red;
  border-style: solid;
  border-radius: 10px;
}
.second {
  font-weight: bold;
  font-style: italic;
}

.third {
  color: white;
  font-family: "Inconsolata", monospace;
  background-color: black;
  box-shadow: 10px 10px 5px rgb(99, 99, 99);
}
